.flex {
  display: flex;
}

.justifyLeft {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyRight {
  justify-content: flex-end;
}

.alignLeft {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignRight {
  align-items: flex-end;
}

.directionRow {
  flex-direction: row;
}

.directionColumn {
  flex-direction: column;
}

.directionRowReverse {
  flex-direction: row-reverse;
}

.directionColumnReverse {
  flex-direction: column-reverse;
}
