.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
  padding: 1rem;
}

.card h1 {
  color: #212121;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.card h2 {
  color: #212121;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.card p {
  color: #757575;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
